// Color Variables
// $primary: rgb(255, 170, 60);
// $secondary: rgb(203, 255, 124);

$primary: rgb(107, 107, 107);
$secondary: rgb(163, 163, 163);

$background: rgb(238, 238, 238);
$background-secondary: rgb(163, 163, 163);

$shadow: rgb(138, 138, 138);

$text: rgb(107, 107, 107);
$text-secondary: rgb(90, 90, 90);

$white: #fff;
$black: #000;
$gray: rgb(90, 90, 90);
