button {
	border: none;
	color: rgb(90, 110, 120);
	box-shadow: 2px 2px 2px grey;
	cursor: pointer;
	border-radius: 25px;
	padding: 5px 8px;
	text-transform: uppercase;
	transition: all 200ms;
}

button:hover {
	background-color: rgba(90, 110, 120, 0.6);
	box-shadow: 4px 4px 2px grey;
	transform: translate(-2%, -2%);
	color: white;
}

button:active {
	background-color: rgba(90, 110, 120, 0.6);
	transform: translate(5%, 5%);
	box-shadow: 1px 1px 2px grey;
	color: white;
}
