@use "./helpers/sass/colours/colours.scss" as colours;
@use "./helpers/sass/font-sizes/font-sizes.scss" as fontsizes;
@use "./helpers/sass/spacing/spacing.scss" as spacing;

html,
body,
h1,
h2,
h3,
h4,
div,
p,
input,
textarea {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	width: 100vw;
	height: 100vh;
	background-color: colours.$background;
}

body,
a,
input {
	color: colours.$primary;
}

a,
a:visited,
a:active {
	text-decoration: none;
	cursor: pointer;
	transition: all 500ms;
}

a:hover {
	color: colours.$text-secondary;
	font-size: 2.4rem;
}

.react-weather {
	border-radius: 10px;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.normal {
	font-style: normal;
}

